* {
    	font-size: 12px;
    	font-family: UDEV Gothic HSLG;
    	font-weight: Bold;
    	min-height: 0;
    	padding: 3px;
}

window#waybar {
	margin: 10px;
    	background: #000000;
}

tooltip {
    	background: #000000;
	border-radius: 0px;
}

#workspaces {
}

#workspaces button {
}

#workspaces button.active {
    	color: #c9b03e;
}

#workspaces button.focused {
    	color: #c9b03e;
}

#workspaces button.urgent {
    	color: #f38ba8;
}

#workspaces button:hover {
    	background: inherit;
    	color: #c9b03e;
}
